.wrapper {
    position: relative;
}
.background {
    position: relative;
    width: 500px;
    height: 800px;
    border: dashed;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 1;
    background-color: beige;
}
.greenbox {
    position: absolute;
    width: 300px;
    height: 800px;
    z-index: 2;
    opacity: 0.9;
    background-color: beige;
    top: 150px;
    left: 200px;
}
.goldbox {
    position: absolute;
    width: 700px;
    height: 450px;
    background-color: beige;
    top: 400px;
    left: 40px;
}