.wrapper {
    position: relative;
}
.background {
    position: relative;
    width: 500px;
    height: 800px;
    border: dashed;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 1;
    background-color: rgba(14, 78, 51, 0.404);
}
.greenbox {
    padding:1px;
    position: absolute;
    width: 300px;
    height: 800px;
    z-index: 2;
    opacity: 0.9;
    background-color: rgba(213, 243, 166, 0.404);
    top: 150px;
    left: 200px;
}
.goldbox {
    position: absolute;
    width: 700px;
    height: 450px;
    background-color: rgba(3, 32, 20, 0.404);
    top: 400px;
    left: 40px;
}