

.background {
  position: relative;
    width: 900px;
    height: 1300px;
    border: dashed;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 40px;
    z-index: 1;
    background-color: rgba(14, 78, 51, 0.404);
    font-size: 2vw;
    color: rgb(240, 231, 179);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "name";
    src: url("../assets/Dearlove.ttf");
    margin: 1%;
    transition: all 1s;
}

.image {
    width: 800px;
    display: flex;
    margin: 1%;
}
.background:hover {color: black;
    transition: all 0,8s;

}
    
.image img {
    width: 800px;
    display: block;
}

